<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <style>
        .navbar .breadcrumb {
            background-color:#fff;
        }
        .navbar .breadcrumb .li {
            margin-left: 20px;
        }
        .navbar .control-label {
            margin-left: 20px;
            margin-right: 20px;
        }
        .navbar {
            margin-bottom:0;
        }
        .jumbotron {
            margin-bottom:0;
            margin-top:0;
        }
        .nav .t1{
            background-color:#fff;
        }
        .table {
            background-color:#fff;
        }
        body
        {
            background-image:url('/public/img/bg_2.jpeg');
            background-color:#cccccc;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="control-label">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Traffic Light Feedback System</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="mainNav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Module<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {{each modules}}
                        <li><a href="module?moduleID={{$value.moduleCode}}">{{$value.moduleName}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="active"><a href="admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="myAccount">
                <li><a href="#">Hi, {{uname}}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="jumbotron">
        <div class="container">
            <h1> Admin </h1>
            <p> This is <strong>admin page</strong> that you can create or modify modules, add students & allocate projects. </p>
        </div>
    </div>

    <nav class="navbar" role="navigation">
        <ol class="breadcrumb">
            <li class="li"><a href="/">Home</a></li>
            <li class="active">Admin</li>
        </ol>
    </nav>

    <div class="container">
        <ul id="myTab" class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#create_module" data-toggle="tab" class="t1">Create a module</a></li>
            <li role="presentation"><a href="#modify_module" data-toggle="tab" class="t1">Modify a module</a></li>
        </ul>
        <div id="mytab-content" class="tab-content">
            <div class="tab-pane fade in active" id="create_module">
                <form role="form" id="addMod" action="/addModule" method="post">
                    <div class="form-group"><br>
                        <label>Module ID</label>
                        <input type="text" name="modID"  class="form-control" required placeholder="Enter module ID">
                    </div>
                    <div class="form-group"><br>
                        <label>Module name</label>
                        <input type="text" name="modName" class="form-control" required placeholder="Enter module name">
                    </div>
                    <div class="form-group">
                        <label>Module description</label>
                        <textarea class="form-control" name="modDes" required rows="5" placeholder="Enter module description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Module plan</label>
                        <textarea class="form-control" name="modPlan" required rows="5" placeholder="Enter module plan"></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Add students</label>
                            <input name="groupingTable" type="file" required >
                            <p class="help-block">Select grouping csv file</p>
                        </div>
<!--                        <div class="form-group  col-md-4">-->
<!--                            <label>Add TA</label>-->
<!--                            <input name="taTable" type="file" required >-->
<!--                            <p class="help-block">Select TA csv file</p>-->
<!--                        </div>-->
<!--                        <div class="form-group  col-md-4">-->
<!--                            <label>Grouping</label>-->
<!--                            <input name="groupTable" type="file" required >-->
<!--                            <p class="help-block">Select grouping csv file</p>-->
<!--                        </div>-->
                    </div>
                    <div class="row">
                        <div class=form-group">
                            <div class="col-md-1 col-md-offset-9">
                                <button onclick="promptAdd()" class="btn btn-default">submit</button>
                            </div>
                            <div class="col-md-1">
                                <button type="reset" class="btn btn-default">cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="modify_module"><br>
                <ul id="myModule" class="nav nav-pills nav-justified" role="tablist">
                    {{each moduleInfo}}
                    <li role="presentation"><a href=#{{$value.moduleCode}} data-toggle="tab" class="t1">{{$value.moduleName}}</a></li>
                    {{/each}}
                </ul>
                <div id="myModule-content" class="tab-content">
                    {{each moduleInfo}}
                    <div class="tab-pane fade" id={{$value.moduleCode}}>
                        <form role="form" action="/modifyModule" id=addMod" method="post">
                            <div class="form-group"><br>
                                <label>Module ID</label>
                                <textarea id="ID" type="text" rows="1" name="modID" readonly="readonly" class="form-control">{{$value.moduleCode}}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Module description</label>
                                <textarea class="form-control" name='modDes' rows="5" placeholder="Enter module description">{{$value.moduleDescription}}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Module plan</label>
                                <textarea class="form-control" name='modPlan' rows="5" placeholder="Enter module plan">{{$value.modulePlan}}</textarea>
                            </div>
                            <div class="row">
<!--                                <div class="form-group col-md-4">-->
<!--                                    <label>Add students</label>-->
<!--                                    <input name="stuTable" type="file">-->
<!--                                    <p class="help-block">Select student csv file</p>-->
<!--                                </div>-->
<!--                                <div class="form-group  col-md-4">-->
<!--                                    <label>Add TA</label>-->
<!--                                    <input type="file">-->
<!--                                    <p class="help-block">Select TA csv file</p>-->
<!--                                </div>-->
<!--                                <div class="form-group  col-md-4">-->
<!--                                    <label>Grouping</label>-->
<!--                                    <input name="groupingTable" type="file" value={{$value.csvPath}}>-->
<!--                                    <p class="help-block">Select grouping csv file</p>-->
<!--                                </div>-->
                            </div>
                            <div class="row">
                                <div class=form-group">
                                    <div class="col-md-1 col-md-offset-9">
                                        <button type="submit" class="btn btn-default">submit</button>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="reset" class="btn btn-default">cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login">Logout</a>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
    function promptAdd() {
        var ipt = document.getElementById("addMod").getElementsByTagName("input");
        var txt = document.getElementById("addMod").getElementsByTagName("textarea");
        for (var i = 0; i < ipt.length; i++) {
            if (ipt[i].value.length === 0) {
                alert("所有内容都需要填写");
                return;
            }
        }
        for (var j = 0; j < txt.length; j++) {
            if (ipt[j].value.length === 0) {
                alert("所有内容都需要填写");
                return;
            }
        }
        document.getElementById("addMod").submit();
        alert("提交成功");
    }

</script>
</body>
</html>