<html>
<head>
    <title>Index of /</title>
</head>
<body>
<h1>Index of /</h1>
<ul><li><a href="CourseFeedback-master/"> CourseFeedback-master/</a></li>
    <li><a href="auction-1/"> auction-1/</a></li>
    <li><a href="auction.rar"> auction.rar</a></li>
    <li><a href="auction/"> auction/</a></li>
    <li><a href="comp0067%20test/"> comp0067 test/</a></li>
    <li><a href="comp0067/"> comp0067/</a></li>
    <li><a href="create_auction_result.php"> create_auction_result.php</a></li>
    <li><a href="databaseproject-20201120.zip"> databaseproject-20201120.zip</a></li>
    <li><a href="databaseproject-20201120/"> databaseproject-20201120/</a></li>
    <li><a href="databaseproject-main.zip"> databaseproject-main.zip</a></li>
    <li><a href="databaseproject-main/"> databaseproject-main/</a></li>
    <li><a href="databaseproject/"> databaseproject/</a></li>
    <li><a href="databaseproject_v2020.11.20/"> databaseproject_v2020.11.20/</a></li>
    <li><a href="index01.php"> index01.php</a></li>
    <li><a href="phpMyAdmin-5.0.4-all-languages/"> phpMyAdmin-5.0.4-all-languages/</a></li>
    <li><a href="webstorm/"> webstorm/</a></li>
</ul>
</body></html>