<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <style>
        .navbar .breadcrumb {
            background-color:#fff;
        }
        .navbar .breadcrumb .li {
            margin-left: 20px;
        }
        .navbar .control-label {
            margin-left: 20px;
            margin-right: 20px;
        }
        .navbar {
            margin-bottom:0;
        }
        .jumbotron {
            margin-bottom:0;
            margin-top:0;
        }
        .nav .t1{
            background-color:#fff;
        }
        .table {
            background-color:#fff;
        }
        body
        {
            background-image:url('/public/img/bg_2.jpeg');
            background-color:#cccccc;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="control-label">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Traffic Light Feedback System</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="mainNav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Module<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {{each modules}}
                            <li><a href="module?moduleID={{$value.moduleCode}}">{{$value.moduleName}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <li><a href="admin">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="myAccount">
                    <li><a href="#">Hi, {{uname}}</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1> {{module.moduleName}} </h1>
            <p> This is <strong>group feedback page</strong> to review the performance of a selected group. </p>
            <!--            <p><a class="btn bg-info btn-lg" href="#" role="button">2131</a></p>-->
        </div>
    </div>

    <nav class="navbar" role="navigation">
        <ol class="breadcrumb">
            <li class="li"><a href="/">Home</a></li>
            <li class="li"><a href="module?moduleID={{module.moduleCode}}">{{module.moduleName}}</a></li>
            <li class="active">Group feedback</li>
        </ol>
    </nav>

    <div class="container">
        <h4>TEAM {{teamNumber}}</h4>
        <div class="row">
            {{each member}}
            <div class="col-md-2">
                <img src="/public/img/doctor_1.jpeg" width="150" height="160">
                <div class="row text-center">
                    <h5>Member {{$value.memberIndex}}: {{$value.forename}} {{$value.surname}}</h5>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <caption>Group performance</caption>
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Team Score</th>
                    <th>Contributions</th>
                    <th>Feedback</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{each feedback}}
                <tr>
                    <td>{{$value.weekNumber}}</td>
                    <td>{{$value.score}}</td>
                    <td>{{$value.contributions}}</td>
                    <td>{{$value.writtenFeedback}}</td>
                    <td>{{$value.date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/">Logout</a>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>