<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <style>
        .navbar .breadcrumb {
            background-color:#fff;
        }
        .navbar .breadcrumb .li {
            margin-left: 20px;
        }
        .navbar .control-label {
            margin-left: 20px;
            margin-right: 20px;
        }
        .navbar {
            margin-bottom:0;
        }
        .jumbotron {
            margin-bottom:0;
            margin-top:0;
        }
        .nav .t1{
            background-color:#fff;
        }
        .table {
            background-color:#fff;
        }
        body
        {
            background-image:url('/public/img/bg_2.jpeg');
            background-color:#cccccc;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="control-label">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Traffic Light Feedback System</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="mainNav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Module<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                        </ul>
                    </li>
                    <li><a href="admin">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="myAccount">
                    <li><a href="#">Hi, lecture</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1> App Engineering </h1>
            <p> This is COMP0067, which teaches students how to develop a real project from the frontend to the backend. </p>
            <!--            <p><a class="btn bg-info btn-lg" href="#" role="button">2131</a></p>-->
        </div>
    </div>

    <nav class="navbar" role="navigation">
        <ol class="breadcrumb">
            <li class="li"><a href="/">Home</a></li>
            <li class="active">App engineering</li>
        </ol>
    </nav>

    <div class="container">
        <ul id="myTab" class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#Students_need_attention" data-toggle="tab" class="t1">Students need attention</a></li>
            <li role="presentation"><a href="#Groups_need_attention" data-toggle="tab" class="t1">Groups need attention</a></li>
            <li role="presentation"><a href="#Student_list" data-toggle="tab" class="t1">Student list</a></li>
            <li role="presentation"><a href="#Group_list" data-toggle="tab" class="t1">Group list</a></li>
        </ul>
        <div id="mytab-content" class="tab-content">
            <div class="tab-pane fade in active" id="Students_need_attention">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Performance</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody class="stu_at ">

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="Groups_need_attention">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Group number</th>
                        <th>Project</th>
                        <th>Team leader</th>
                        <th>2nd member</th>
                        <th>3rd member</th>
                        <th>Average Performance</th>
                    </tr>
                    </thead>
                    <tbody class="gro_at">

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="Student_list">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Project name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Performance</th>
                        </tr>
                    </thead>
                    <tbody class="stu_li">

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="Group_list">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Group number</th>
                            <th>Project</th>
                            <th>Team leader</th>
                            <th>2nd member</th>
                            <th>3rd member</th>
                        </tr>
                    </thead>
                    <tbody class="gro_li">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/">Logout</a>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<script>
    $("#myTab a").click(function(e){
        e.preventDefault();
        $(this).tab("show");
    })
    var module = ["App engineering", "Software engineering", "Artificial intelligence", "Machine learning", "Algorithm"]
    var student_at= [["Tom", 20, 0, "Worst"],["Jerry", 33, 1, "Bad"],["Henry", 37, 0.5, "Worse"]]
    var group_at= [
        ["Group3", "Mobile App development", "Johnson", "Ben", "Ken", "2"],
        ["Group6", "Medical Care System", "Tony", "Steven", "Sue", "1"]
    ]
    var student_list= [
        ["Tim", "1", "project 1", "123412413", "111@gmail.com", "4"],
        ["Tim1", "2", "project 1", "123412413", "111@gmail.com", "4"],
        ["Tim2", "3", "project 11", "123412413", "111@gmail.com", "4"],
        ["Tim3", "4", "project 12", "123412413", "111@gmail.com", "4"],
        ["Tim4", "5", "project 12", "123412413", "111@gmail.com", "4"],
        ["Tim5", "6", "project 10", "123412413", "111@gmail.com", "4"],
        ["Tim6", "7", "project 10", "123412413", "111@gmail.com", "4"],
        ["Tim7", "8", "project 10", "123412413", "111@gmail.com", "4"],
        ["Tim8", "9", "project 6", "123412413", "111@gmail.com", "4"],
        ["Tim9", "10", "project 1", "123412413", "111@gmail.com", "4"],
        ["Tim0", "11", "project 3", "123412413", "111@gmail.com", "4"],
        ["Tim11", "12", "project 12", "123412413", "111@gmail.com", "4"],
        ["Tim12", "13", "project 5", "123412413", "111@gmail.com", "4"]
    ]
    var group_list= [
        ["Group1", "Mobile App development", "Johnson", "Ben", "Ken"],
        ["Group2", "Commercial app development", "Johnson", "Ben", "Ken"],
        ["Group3", "Web App development", "Johnson", "Ben", "Ken"],
        ["Group4", "Arabic Numeral recognition", "Johnson", "Ben", "Ken"],
        ["Group5", "Machine Learning ", "Johnson", "Ben", "Ken"],
        ["Group6", "Medical Care System", "Tony", "Steven", "Sue"]
    ]
    function setTable() {
        for (var i = 0; i < student_at.length; i++) {
            $(".stu_at").append('<tr>\n' +
                '                    <td><a href="student">' + student_at[i][0] + '</a></td>\n' +
                '                    <td>' + student_at[i][1] + '</td>\n' +
                '                    <td>' + student_at[i][2] + '</td>\n' +
                '                    <td>' + student_at[i][3] + '. <small>(<a href="student.html">Click</a> to see the details.)</small></td>\n' +
                '                </tr>\n')
        }
        for (i = 0; i < group_at.length; i++) {
            $(".gro_at").append('<tr>\n' +
                '                        <td><a href="group">' + group_at[i][0] + '</a></td>\n' +
                '                        <td>' + group_at[i][1] + '</td>\n' +
                '                        <th>' + group_at[i][2] + '</th>\n' +
                '                        <th>' + group_at[i][3] + '</th>\n' +
                '                        <th>' + group_at[i][4] + '</th>\n' +
                '                        <td>' + group_at[i][5] + '</td>\n' +
                '                    </tr>\n')
        }
        for (i = 0; i < student_list.length; i++) {
            $(".stu_li").append('<tr>\n' +
                '                            <td><a href="student">' + student_list[i][0] + '</a></td>\n' +
                '                            <td>' + student_list[i][1] + '</td>\n' +
                '                            <th>' + student_list[i][2] + '</th>\n' +
                '                            <th>' + student_list[i][3] + '</th>\n' +
                '                            <th>' + student_list[i][4] + '</th>\n' +
                '                            <td>' + student_list[i][5] + '</td>\n' +
                '                        </tr>')
        }
        for (i = 0; i < group_list.length; i++) {
            $(".gro_li").append('<tr>\n' +
                '    <td><a href="group">' + group_list[i][0] + '</a></td>\n' +
                '    <td>' + group_list[i][1] + '</td>\n' +
                '    <th>' + group_list[i][2] + '</th>\n' +
                '    <th>' + group_list[i][3] + '</th>\n' +
                '    <th>' + group_list[i][4] + '</th>\n' +
                '    </tr>')
        }
    }
    function setModule() {
        for (var i = 0; i < module.length; i++) {
            $(".dropdown-menu").append('<li><a href="module">' + module[i] + '</a></li>')
        }
    }
    setTable()
    setModule()
</script>

</body>
</html>