<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Voltage &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	-->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <style>
        .fh5co-nav-style-1 .dropdown .dropdown-menu {
            border: 1px solid #005344;
            background: #122b40;
        }

        .js-full-height .container-fluid .tab {
            border-radius: 5px;
            border: 1px solid #c0c0c0;
            background-color: #ffffff;
        }

        .table {
            table-layout: auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        td {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 360px;
            max-width: 500px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 50%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/public/favicon.ico">

    <!-- Google Fonts -->
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
        rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/public/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/public/css/icomoon.css">
    <!-- Magnific Popup-->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/public/css/bootstrap.css">

    <!-- Cards -->
    <link rel="stylesheet" href="/public/css/cards.css">

    <!-- Modernizr JS -->
    <script src="/public/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="/public/js/respond.min.js"></script>
	<![endif]-->

    <!--table-->
    <!--	<link href="/public/css/styles.css" rel="stylesheet" />-->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>


</head>

<body>
    <!--Navigation bar-->
    <div id="fh5co-page">
        <nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
                    <a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
                    <a href="#">Traffic Light Feedback System</a>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5 text-center fh5co-link-wrap">
                    <ul data-offcanvass="yes">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Module<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="fh5co-link-wrap">
                                    {{each modules}}
                                    <li><a href="studentview?moduleID={{$value.moduleCode}}">{{$value.moduleName}}</a>
                                    </li>
                                    {{/each}}
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
                    <ul class="fh5co-special" data-offcanvass="yes">
                        <li><a href="#">Hi, {{uname}}</a></li>
                        <li><a href="#" class="call-to-action" data-toggle="modal" data-target="#logoutModal">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Big picture-->
        <div class="fh5co-cover fh5co-cover-style-2" data-stellar-background-ratio="0.5" data-next="yes"
            style="background-image: url(/public/images/moodle.jpg); height: 10px!important;">
            <span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                <a href="#">
                    <span class="mouse"><span></span></span>
                </a>
            </span>
            <div class="fh5co-overlay"></div>
            <div class="fh5co-cover-text" style="color: #ffffff;">
                <div>
                    <div class="row" style="position:relative;
                    top:250px; left:250px;width:800px;">
                        <div class=" col-md-3"><img src="/public/images/student.jpg" width="150" height="200"></div>
                        <div class="col-md-3">
                            <div class="row" ">
                                <h5>Name: {{student.forename}} {{student.surname}} </h5>
                            </div>
                            <div class=" row">
                                <h5>Group: {{team.teamNumber}}</h5>
                            </div>
                            <div class="row">
                                <h5>Project:{{project.projectTitle}}</h5>
                            </div>
                            <h5 class="row">Average score: {{Score.score_avg}}</h5>

                            <div class="row">
                                <h5>Email: {{student.email}}</h5>
                            </div>
                        </div>
                        <!--                <div class="row">-->
                        <!--                    <h5>Phone: {{student.Phone}}</h5>-->
                        <!--                </div>-->
                    </div>
                </div>
                <div class="row" style="position:relative;
            top:-50px; left:800px;width:800px;">


                    <div class=" container">
                        <figure class=" highcharts-figure">
                            <div id="aaa"></div>
                            <p class="highcharts-description">
                                Basic line chart showing trends in a dataset. This chart includes the
                                <code>series-label</code> module, which adds a label to each line for
                                enhanced readability.
                            </p>
                        </figure>
                    </div>
                </div>

            </div>
        </div>






        <!-- END footer -->
        <div id="layoutSidenav_content" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
            <main>
                <div class="container-fluid">
                    <!--					<h1 class="mt-4">Tables</h1>-->
                    <div class="card mb-4">
                        <div class="card-header">
                        </div>
                        <ul id="myTab" class="nav nav-pills nav-justified" role="tablist">
                            <li role="presentation" class="tab active"><a href="#Students_need_attention"
                                    data-toggle="tab" class="t1">Student</a></li>
                            <li role="presentation" class="tab"><a href="#Groups_need_attention" data-toggle="tab"
                                    class="t1">team</a></li>
                        </ul>
                        <br>
                        <div id="mytab-content" class="card-body tab-content">
                            <div class="tab-pane fade in active" id="Students_need_attention">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable1" cellspacing="0">
                                        <thead class="thead">
                                            <tr>
                                                <th>Week</th>
                                                <th>Score</th>
                                                <th>Contribution</th>
                                                <th>Feedback</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <!-- <tfoot class="thead">
                                            <tr>
                                                <th>Index</th>
                                                <th>Student SPR</th>
                                                <th>Name</th>
                                                <th>Group</th>
                                                <th>Project</th>
                                                <th>Last Score</th>
                                                <th>Avg Score</th>
                                                <th>Message from TA</th>
                                            </tr>
                                        </tfoot> -->
                                        <tbody class="stu_at ">
                                            {{each Selectfeedback}}
                                            <tr>
                                                <td>{{$value.weekNumber}}</td>
                                                <td>{{$value.score}}</td>
                                                <td>{{$value.contribution}}</td>
                                                <td>{{$value.writtenFeedback}}</td>
                                                <td>{{$value.date}}</td>
                                            </tr>
                                            <!--                            <td>{{$value.Feedback5}}. <small>(<a href="student.html">Click</a> to see the details.)</small></td>-->
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Groups_need_attention">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                        <thead class="thead">
                                            <tr>
                                                <th>Week</th>
                                                <th>score</th>
                                                <th>Feedback</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody class="gro_at">

                                            {{each Selectteamfeedback}}
                                            <tr>
                                                <td>{{$value.weekNumber}}</td>
                                                <td>{{$value.score}}</td>
                                                <td>{{$value.writtenFeedback}}</td>
                                                <td>{{$value.date}}</td>
                                            </tr>
                                            <!--                            <td>{{$value.Feedback5}}. <small>(<a href="student.html">Click</a> to see the details.)</small></td>-->
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
    <!-- END page-->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="/public/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/public/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/public/js/jquery.waypoints.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/public/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <!-- Stellar -->
    <script src="/public/js/jquery.stellar.min.js"></script>
    <!-- countTo -->
    <script src="/public/js/jquery.countTo.js"></script>
    <!-- WOW -->
    <script src="/public/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--table-->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/public/js/datatables-demo.js"></script>
    <!-- Main -->
    <script src="/public/js/main.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
        Highcharts.chart('aaa', {

            title: {
                text: 'Solar Employment Growth by Sector, 2010-2016'
            },

            subtitle: {
                text: 'Source: thesolarfoundation.com'
            },

            yAxis: {
                title: {
                    text: 'Number of Employees'
                }
            },

            xAxis: {
                accessibility: {
                    rangeDescription: 'Range: 2010 to 2017'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }, {
                name: 'Project Development',
                data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
            }, {
                name: 'Other',
                data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });




    </script>

</body>

</html>