<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Voltage &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!-- 
	//////////////////////////////////////////////////////
	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co
	//////////////////////////////////////////////////////
	-->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<style>
		.fh5co-nav-style-1 .dropdown .dropdown-menu {
			border: 1px solid #0b2e13;
			background: #0f6674;
		}
		#module_list {
			border: 1px solid #c0c0c0;
			background:#f9f9f9;
		}
		.menu li {
			list-style:none;
			float:left;
			width:90px;
			overflow:visible;
			cursor:pointer;
		}
		ul.level2 {
			width:90px;
			display:none;
		}
		ul.level2 {
			margin:-28px 0 0 90px;
		}
		li.imyeah:hover > ul, ul.level2 > li.imyeah:hover > ul {
			display:block;
		}
		img {
			display: inline-block;
			width: 100%;
			min-height: 220px;
			max-height: 220px;
		}
	</style>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="/public/favicon.ico">

	<!-- Google Fonts -->
	<link
			href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
			rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/public/css/icomoon.css">
	<!-- Magnific Popup-->
	<link rel="stylesheet" href="/public/css/magnific-popup.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/public/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/public/css/bootstrap.css">

	<!-- Cards -->
	<link rel="stylesheet" href="/public/css/cards.css">

	<!-- Modernizr JS -->
	<script src="/public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/public/js/respond.min.js"></script>
	<![endif]-->

	<!--table-->
	<!--	<link href="/public/css/styles.css" rel="stylesheet" />-->
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
		  crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
			crossorigin="anonymous"></script>


</head>

<body>
<!--Navigation bar-->
<div id="fh5co-page">
	<nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left"
		 style="background-image: url(/public/images/moodle.jpg)">
		<div class="container">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
				<a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
				<a href="#">Traffic Light Feedback System</a>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5 text-center fh5co-link-wrap">
				<ul data-offcanvass="yes">
					<li class="active"><a href="student_homepage">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Module({{YS}})<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<div class="fh5co-link-wrap">
								{{each modules}}
								<li><a
										href="student_feedback?moduleID={{$value.moduleCode}}">{{$value.moduleCode}}</a>
								</li>
								{{/each}}
							</div>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Semester<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" >
							<div class="fh5co-link-wrap" style="width: 145px; text-align: center" id="year_semester">

							</div>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-right fh5co-link-wrap">
				<ul class="fh5co-special" data-offcanvass="yes">
					<li><a href="#">Hi, {{uname}}</a></li>
					<li><a href="#" class="call-to-action" data-toggle="modal" data-target="#logoutModal">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!--Big picture-->
	<div class="fh5co-cover fh5co-cover-style-2" data-stellar-background-ratio="0" data-next="yes"
		 style="background-image: url(/public/images/img_same_dimension_3.jpg);">
		<div class="fh5co-cover-text">
			<div class="fh5co-project-style-2"><br><br><br>
				<div class="container wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s"
					 style="background-color: #f9f6f0; border: 1px solid #999999; margin:25px auto 100px auto">
					<div id="layoutSidenav_content">
						<main>
							<div class="container-fluid">
								<div class="card mb-4">
									<div class="card-header">
										<div class="row">
											<div class="text-center">
												<div class="fh5co-cover-intro"><br><br>
													<h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s"
														data-wow-delay="1.1s" style="color: #000000">Your Modules
													</h1>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="fade in active">
											<div class="fh5co-projects">
												<ul>
													{{each modules}}
													<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s" data-stellar-background-ratio="0.5">
														<div id="module_list">
															<a href="student_feedback?moduleID={{$value.moduleCode}}">
																<div class="fh5co-text">
																	<div class="fh5co-text-inner">
																		<img style="border-bottom: 1px solid #c0c0c0;" src="{{$value.imgPath}}"/>
																	</div>
																</div>
															</a>
															<div class="container" style="margin-top: 15px; width:100%">
																<h4 style="margin-bottom: 10px; color: #062c33">{{$value.moduleName}}({{$value.moduleCode}})</h4>
																<p style="margin: 10px 0 10px 0">{{$value.moduleDescription}}</p>
															</div>
														</div>
													</li>
													{{/each}}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</main>
						<br>
					</div>
					<br>
				</div>
			</div>
		</div>
		<br>
	</div>
	<!--footer-->
	<div style="background-image: url(/public/images/moodle.jpg); height: 100px;">
		<div style="text-align: center; height: 100px; line-height: 100px;">
			<b style="color: #000000; font-size: 20px;">Copyright@UCL Department of Computer Science</b>
		</div>
	</div>
	<!-- END footer -->

</div>
<!-- END page-->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login">Logout</a>
			</div>
		</div>
	</div>
</div>




<!-- jQuery -->
<script src="/public/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/public/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/public/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/public/js/jquery.waypoints.min.js"></script>
<!-- Owl Carousel -->
<script src="/public/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<!-- Stellar -->
<script src="/public/js/jquery.stellar.min.js"></script>
<!-- countTo -->
<script src="/public/js/jquery.countTo.js"></script>
<!-- WOW -->
<script src="/public/js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--	&lt;!&ndash;table&ndash;&gt;-->
<!--	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>-->
<!--	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>-->
<!--	<script src="/public/js/datatables-demo.js"></script>-->
<!--	&lt;!&ndash; Main &ndash;&gt;-->
<script src="/public/js/main.js"></script>
<script>
	var year_dropsown_list_html = ''
	var date = new Date()
	var cur_year = parseInt(date.getFullYear())
	for (var i=0; i<4; i++) {
		year_dropsown_list_html = year_dropsown_list_html + '<li class="imyeah"><a href="#">Year '+(cur_year-i)+'</a>\n' +
				'\t\t\t\t\t\t\t\t\t\t<ul class="level2">\n' +
				'\t\t\t\t\t\t\t\t\t\t\t<li>select a semester</li>\n' +
				'\t\t\t\t\t\t\t\t\t\t\t<li><a href="student_setYS?YS='+(cur_year-i)+'-1">1</a></li>\n' +
				'\t\t\t\t\t\t\t\t\t\t\t<li><a href="student_setYS?YS='+(cur_year-i)+'-2">2</a></li>\n' +
				'\t\t\t\t\t\t\t\t\t\t\t<li><a href="student_setYS?YS='+(cur_year-i)+'-3">3</a></li>\n' +
				'\t\t\t\t\t\t\t\t\t\t</ul>\n' +
				'\t\t\t\t\t\t\t\t\t</li><br>'
	}
	document.getElementById("year_semester").innerHTML = year_dropsown_list_html
</script>

</body>

</html>